@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="card">
        <div class="card-header alert">
            Error
        </div>
        <div class="card-body">
            @ErrorMessage
        </div>
    </div>
}
@code {
    [Parameter] public string ErrorMessage { get; set; }
}
