@using Hiragana1.Shared;
@using Hiragana1.Shared.DTOs;
<h3>Answerable TQ v2</h3>

@if (!TestQuestion.Answers.Any())
{
    <p><em>Loading test question...</em></p>
}
else
{
    <h3 class="align-content-center">@TestQuestion.Question</h3>
    <div class="d-flex flex-row bd-highlight flex-wrap">
    @foreach(var a in TestQuestion.Answers)
    {
        <AnswerButton ButtonText="@a" IsCorrect="IsThisAnswerCorrect(a)" OnCorrectAnswer="AnsweredCorrectly"></AnswerButton>
    }
    </div>
}
@code {

    string defaultValue = "nothing";
    string somethingHere;

    private void OnInitializedAsync()
    {
        this.somethingHere = this.defaultValue;
    }

    [Parameter]
    public QuestionDto? TestQuestion { get; set; }

    [Parameter] public EventCallback<bool> OnAnswer { get; set; }

    private async Task CompareAnswer(string value)
    {
        bool isCorrectAnswer = string.Compare(value, this.TestQuestion?.CorrectAnswer, true) == 0;

        if (!isCorrectAnswer)
        {
            //disable wrong button
        }

        await OnAnswer.InvokeAsync(isCorrectAnswer);


    }

    private async Task AnsweredCorrectly()
    {
        await OnAnswer.InvokeAsync(true);
        StateHasChanged();
    }

    private bool IsThisAnswerCorrect(string answer)
    {
        return answer == TestQuestion.CorrectAnswer;
    }
}



