@using Hiragana1.Shared;
<h3>AnswerableTestQuestion</h3>

@if (!TestQuestion.Answers.Any())
{
    <p><em>Loading test question...</em></p>
}
else
{
    <h3>@TestQuestion.Question</h3>

    <div class="d-flex flex-row">
        @foreach (var a in TestQuestion.Answers.Take(2))
        {
            <div class="p-2 answerButton"><button class="btn btn-info answerButton">@a</button></div>
        }
    </div>

    <div class="d-flex flex-row">
        @foreach (var a in TestQuestion.Answers.Skip(2).Take(2))
        {
            <div class="p-2 answerButton"><button class="btn btn-info answerButton">@a</button></div>
        }
    </div>
}
@code {

    [Parameter]
    public QuestionV1  TestQuestion { get; set; }

}



