
<button class="btn btn-info answerButton2 m-3"
        disabled="@isDisabled"
        @onclick="Answered">
    @ButtonText
</button>

@code {
    [Parameter]
    public bool IsCorrect { get; set; }

    private string _buttonText = "";
    private bool alreadyAnswered = false;

    [Parameter]
    public string ButtonText
    {
        get
        {
            return _buttonText;
        }
        set
        {
            this.isDisabled = false;
            this.alreadyAnswered = false;
            _buttonText = value;

        }
    }

    [Parameter] public EventCallback<bool> OnCorrectAnswer { get; set; }
    private bool isDisabled = false;

    private async Task Answered()
    {
        isDisabled = true;
        if (!alreadyAnswered)
        {
            alreadyAnswered = true;
            await OnCorrectAnswer.InvokeAsync(IsCorrect);
        }
    }
}

