<div class="p-2 answerButton">
    <button 
        class="btn btn-info answerButton2" 
        disabled="@isDisabled" 
        @onclick="Answered">
        @ButtonText
        </button>

</div>

@code {
    [Parameter]
    public bool IsCorrect { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "";

    [Parameter] public EventCallback OnCorrectAnswer { get; set; }
    private bool isDisabled = false;

    private async Task Answered()
    {
        isDisabled = true;
        if (IsCorrect)
            await OnCorrectAnswer.InvokeAsync();
    }
}
