@page "/currenttest"
@using Hiragana1.Shared;
@inject HttpClient Http

<h3>Current Test</h3>

<div>If no test in progress</div>
@if (this.IsTestInProgress == false)
{
    <button class="btn btn-primary" @onclick="StartNewTest">Start Test</button>
}
else
{
    <div>Display a question</div>
    <AnswerableTestQuestion TestQuestion="CurrentTestQuestion"></AnswerableTestQuestion>
}
@code {
    public bool IsTestInProgress { get; set; } = false;
    public QuestionV1 CurrentTestQuestion { get; set; } = new QuestionV1();

    public async void StartNewTest()
    {
        var questions = await Http.GetFromJsonAsync<QuestionV1[]>("QuestionV1/NewTest");

        if (questions.Any())
        {
            CurrentTestQuestion = questions.OrderBy(x => x.QuestionId).First();
        } else
        {
            throw new Exception("No questions returned from Controller");
        }
        this.IsTestInProgress = true;
        //get question set
        //assign it to the testing control
    }

}
