@page "/currenttest"

<h3>Current Test</h3>

<div>If no test in progress</div>

<button class="btn btn-primary" @onclick="StartNewTest">Start Test</button>

<div>else</div>

<div>Display a question</div>

@code {

    public void StartNewTest()
    {
        
    }

}
