@page "/currenttest"
@using Hiragana1.Shared;
@inject HttpClient Http

<h3>Current Test</h3>

<div>If no test in progress</div>
@if (this.IsTestInProgress == false)
{
    <button class="btn btn-primary" @onclick="StartNewTest">Start Test</button>
}
else
{
    <div>Display a question</div>
}
@code {
    public bool IsTestInProgress { get; set; } = false;

    public async void StartNewTest()
    {
       var questions = await Http.GetFromJsonAsync<QuestionV1[]>("QuestionV1/list");
    

        this.IsTestInProgress = true;
        //get question set
        //assign it to the testing control
    }

}
