@page "/"

<PageTitle>Index</PageTitle>
<p>
    Click on "<a href="/quiz">Quiz</a>" to select a quiz and test your knowledge of Japanese alphabet.
</p>
<p>
    This site uses the following NuGet package: <a href="https://www.nuget.org/packages/SyllabaryQuizGenerator/">https://www.nuget.org/packages/SyllabaryQuizGenerator/</a>
</p>
<p>
    Source: <a href="https://github.com/yevgeller/Hiragana1">https://github.com/yevgeller/Hiragana1</a>
</p>