@page "/"

<PageTitle>Index</PageTitle>

Click on "<a href="/quiz">Quiz</a>Quiz" to select a quiz and test your knowledge of Japanese alphabet.

PROVIDE MORE DETAILS IN SYLLABARY PACKAGE
MORE SYLLABARIES

DEPLOY