@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<h3>WholeTest</h3>

<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item" />
    <label class="form-check-label" for="item10"><h2>Create a set of questions (Controller)</h2></label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item" />
    <label class="form-check-label" for="item20"><h2>Testing component</h2></label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item30" />
    <label class="form-check-label" for="item30">Test started</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item40" />
    <label class="form-check-label" for="item40">Test time</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item50" />
    <label class="form-check-label" for="item50">Question X/Y</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item60" />
    <label class="form-check-label" for="item60">One by one load questions</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item70" />
    <label class="form-check-label" for="item70">Keep score</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item80" />
    <label class="form-check-label" for="item80">Display progress bar</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item90" />
    <label class="form-check-label" for="item90">Display results</label>
</div>
<div class="form-check">

    <input type="checkbox" class="form-check-input" id="item100" />
    <label class="form-check-label" for="item100">    <h2>        Question Component    </h2></label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item110" />
    <label class="form-check-label" for="item">Display Question</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item120" />
    <label class="form-check-label" for="item120">Provide answers</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item130" />
    <label class="form-check-label" for="item130">Respond to button clicks</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item140" />
    <label class="form-check-label" for="item140">Report to parent component correct/incorrect</label>
</div>
<h2>Test Summary Component</h2>
<div class="form-check">


    <input type="checkbox" class="form-check-input" id="item150" />
    <label class="form-check-label" for="item150">Number Correct</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item160" />
    <label class="form-check-label" for="item160">Number Incorrect</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item170" />
    <label class="form-check-label" for="item170">Time taken</label>
</div>
<div class="form-check">

    <input type="checkbox" class="form-check-input" id="item180" />
    <label class="form-check-label" for="item180"><h2>Test History Component</h2></label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item190" />
    <label class="form-check-label" for="item190"><h2>Choice of tests  </h2></label>
</div>
<div class="form-check">

    <input type="checkbox" class="form-check-input" id="item200" />
    <label class="form-check-label" for="item200">Hiragana - English</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item210" />
    <label class="form-check-label" for="item210">English - Hiragana</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item220" />
    <label class="form-check-label" for="item220">Katakana - English</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item230" />
    <label class="form-check-label" for="item230">English - Katakana</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item240" />
    <label class="form-check-label" for="item240">Hiragana - Katakana</label>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="item250" />
    <label class="form-check-label" for="item250">Katakana - Hiragana</label>
</div>

