@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


<h3>WholeTest</h3>


<input type="checkbox" id="item" /><label for="item10"><h2>Create a set of questions (Controller)</h2></label>
<br />
<input type="checkbox" id="item" /><label for="item20"><h2>Testing component</h2></label>
<br />

<input type="checkbox" id="item30" /><label for="item30">Test started</label>
<br />
<input type="checkbox" id="item40" /><label for="item40">Test time</label>
<br />
<input type="checkbox" id="item50" /><label for="item50">Question X/Y</label>
<br />
<input type="checkbox" id="item60" /><label for="item60">One by one load questions</label>
<br />
<input type="checkbox" id="item70" /><label for="item70">Keep score</label>
<br />
<input type="checkbox" id="item80" /><label for="item80">Display progress bar</label>
<br />
<input type="checkbox" id="item90" /><label for="item90">Display results</label>
<br />

<input type="checkbox" id="item100" /><label for="item100">    <h2>        Question Component    </h2></label>
<br />
<input type="checkbox" id="item110" /><label for="item">Display Question</label>
<br />
<input type="checkbox" id="item120" /><label for="item120">Provide answers</label>
<br />
<input type="checkbox" id="item130" /><label for="item130">Respond to button clicks</label>
<br />
<input type="checkbox" id="item140" /><label for="item140">Report to parent component correct/incorrect</label>
<br />

<h2>Test Summary Component</h2>

<input type="checkbox" id="item150" /><label for="item150"><input type="checkbox" value="true" /> Number Correct</label>
<br />
<input type="checkbox" id="item160" /><label for="item160">Number Incorrect</label>
<br />
<input type="checkbox" id="item170" /><label for="item170">Time taken</label>
<br />

<input type="checkbox" id="item180" /><label for="item180"><h2>Test History Component</h2></label>
<br />
<input type="checkbox" id="item190" /><label for="item190"><h2>Choice of tests  </h2></label>
<br />

<input type="checkbox" id="item200" /><label for="item200">Hiragana - English</label>
<br />
<input type="checkbox" id="item210" /><label for="item210">English - Hiragana</label>
<br />
<input type="checkbox" id="item220" /><label for="item220">Katakana - English</label>
<br />
<input type="checkbox" id="item230" /><label for="item230">English - Katakana</label>
<br />
<input type="checkbox" id="item240" /><label for="item240">Hiragana - Katakana</label>
<br />
<input type="checkbox" id="item250" /><label for="item250">Katakana - Hiragana</label>


