<h3>QuizResults</h3>

@if(!QuizResults.Any())
{
    <div>No results yet.</div>
}

@foreach(var qr in QuizResults)
{
    <div>@qr.ResultString()</div>
}

@code {

    [Parameter]
    public List<QuizResult> QuizResults { get; set; }


}
