
<div class="card">
@if(!QuizResults.Any())
{
    <div>No results yet.</div>
}

@foreach(var qr in QuizResults)
{
    <div>@qr.ResultString()</div>
}
</div>
@code {

    [Parameter]
    public List<QuizResult> QuizResults { get; set; }


}
