
<div class="card mt-3">
    @if (QuizResults.Any())
    {
        <div class="card-header">Quiz Results</div>
        <div class="card-body">
            <ol>
            @foreach (var qr in QuizResults)
            {
                <li class="card-text">@qr.ResultString()</li>
            }
            </ol>
        </div>
    }
    else
    {
        <div class="card-header">No results yet.</div>
    }
</div>
@code {
    [Parameter]
    public List<QuizResult> QuizResults { get; set; }
    // protected override bool ShouldRender()
    // {
    //     return base.ShouldRender();
    // }
}
