
<div class="card">
    <div class="card-body">

        @if (QuizResults.Any())
        {
            <h5 class="card-header">Quiz Results</h5>
            @foreach (var qr in QuizResults)
            {
                <p class="card-text">@qr.ResultString()</p>
            }
        }
        else
        {
            <h5 class="card-header">No results yet.</h5>
        }
    </div>
</div>
@code {
    [Parameter]
    public List<QuizResult> QuizResults { get; set; }
    // protected override bool ShouldRender()
    // {
    //     return base.ShouldRender();
    // }
}
