    <h3>QuizProgress make this better next</h3>

    <div>
        Question @CurrentQuestionNumber
    </div>
    <div>
        @NumberCorrectSoFar correct out of @TotalNumberOfQuestions
    </div>
    <div>
        Mistakes so far: @NumberOfMistakes
    </div>

    @code {
    [Parameter]
    public int CurrentQuestionNumber { get; set; } = 0;

    [Parameter]
    public int TotalNumberOfQuestions { get; set; } = 0;

    [Parameter]
    public int NumberCorrectSoFar { get; set; } = 0;

    [Parameter]
    public int NumberOfMistakes { get; set; } = 0;

}
