@page "/wholetest"

<h3>WholeTest</h3>

<ul>
    <li>Create a set of questions (Controller)</li>
    <li>Testing component</li>
    <li>
        <ul>
            <li>Test started</li>
            <li>Test time</li>
            <li>Question X/Y</li>

            <li>One by one load questions</li>
            <li>Keep score</li>
            <li>Display progress bar</li>
            <li>Display results</li>
        </ul>
    </li>
    <li>
        Question Component

    </li>
    <li>
        <ul>
            <li>Display Question</li>
            <li>Provide answers</li>
            <li>Respond to button clicks</li>
            <li>Report to parent component correct/incorrect</li>
        </ul>

    </li>
    <li>Test Summary Component</li>
    <li>
        <ul>
            <li>Number Correct</li>
            <li>Number Incorrect</li>
            <li>Time taken</li>
        </ul>
    </li>
    <li>Test History Component</li>
    <li>Choice of tests</li>
    <li>
        <ul>
            <li>Hiragana - English</li>
            <li>English - Hiragana</li>
            <li>Katakana - English</li>
            <li>English - Katakana</li>
            <li>Hiragana - Katakana</li>
            <li>Katakana - Hiragana</li>
        </ul>
    </li>

</ul>

@code {

}
