@page "/wholetest"

<h3>WholeTest</h3>

<ul>
    <li>Create a set of questions (Controller)</li>
    <li>One by one load questions</li>
    <li>Keep score</li>
    <li>Display progress bar</li>
    <li>Display results</li>
</ul>

@code {

}
